<!DOCTYPE html>
<html ng-app="delegations">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css' media="all" />
    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap-theme.css' />
    <link rel='stylesheet' href='/css/print.css' media="all" />
  </head>
  <body ng-controller="printCtrl">

    <div class="alert-container pull-right">
      <div class="alert alert-info not-printable">
        <span class="glyphicon glyphicon-print"></span>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" style="margin-left: 16px;">&times;</button>
        <%= __('If form is correct, please just print this web page') %>
      </div>
    </div>

    <div class="container theme-showcase container-a4">
      <h1 class="title">
        Rozliczenie delegacji zagranicznej NR {{root.delegationNo}}
      </h1>

      <dl class="dl-horizontal basic-stuff">
        <dt><em class="eng">(Employee)</em> Delegowany:</dt>
        <dd>{{root.fullName}}</dd>
        <dt><em class="eng">(to)</em> do:</dt>
        <dd>{{root.country.namePL}}, {{root.destCity}}</dd>
        <dt><em class="eng">(duration)</em> na czas od:</dt>
        <dd>
          <span class="bordered">{{root.departure.date | date:'yyyy-MM-dd'}}</span>
          do
          <span class="bordered">{{root.arrival.date | date:'yyyy-MM-dd'}}</span>
        </dd>
        <dt><em class="eng">(purpose)</em> w celu:</dt>
        <dd>{{root.delegationTitle}}</dd>
      </dl>

      <h3>Rachunek kosztów podróży</h3>
      <table class="table table-condensed table-bordered">
        <thead>
          <tr>
            <th colspan="3">WYJAZD <em class="eng">(Departure)</em></th>
            <th colspan="3">PRZYJAZD <em class="eng">(Arrival)</em></th>
            <th rowspan="2" width="120px" style="text-align: center;">Środek lokomocji <em class="eng">(Transport)</em></th>
          </tr>
          <tr>
            <th>Miejscowość <em class="eng">(City)</em></th>
            <th>Data <em class="eng">(Date)</em></th>
            <th>Godzina <em class="eng">(Time)</em></th>
            <th>Miejscowość <em class="eng">(City)</em></th>
            <th>Data <em class="eng">(Date)</em></th>
            <th>Godzina <em class="eng">(Time)</em></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{root.startCity}}</td>
            <td>{{root.departure.date | date:'yyyy-MM-dd'}}</td>
            <td>{{root.departure.time}}</td>
            <td>{{root.destCity}}</td>
            <td>{{root.departureEnd | date:'yyyy-MM-dd'}}</td>
            <td>{{root.departureEnd | date:'HH:mm'}}</td>
            <td>{{root.departure.transport.namePL}} <em class="eng">({{root.departure.transport.nameEN}})</em></td>
          </tr>
          <tr>
            <td>{{root.destCity}}</td>
            <td>{{root.arrivalStart | date:'yyyy-MM-dd'}}</td>
            <td>{{root.arrivalStart | date:'HH:mm'}}</td>
            <td>{{root.startCity}}</td>
            <td>{{root.arrival.date | date:'yyyy-MM-dd'}}</td>
            <td>{{root.arrival.time}}</td>
            <td>{{root.arrival.transport.namePL}} <em class="eng">({{root.arrival.transport.nameEN}})</em></td>
          </tr>
        </tbody>
      </table>

      <div class="delegation-time">
        Czas trwania <em class="eng">(Duration)</em>:
        <span>Pełnych dni <em class="eng">(Full days)</em>: <b>{{root.days.fullDays}}</b></span>,
        <span>Godzin <em class="eng">(hours)</em>: <b>{{root.days.hours | number:0}}</b></span>,
        <span>Minut <em class="eng">(mins)</em>: <b>{{root.days.minutes | number:0}}</b></span>
      </div>

      <table class="table table-condensed table-bordered">
        <thead>
          <tr>
            <th></th>
            <th>PLN</th>
            <th>{{root.country.currency}}</th>
            <th><em class="eng">(exchange rate)</em> <br/> kurs rozliczenia </th>
            <th><em class="eng">(sum in PLN)</em> <br/> Razem PLN </th>
            <th>Adnotacje <em class="eng">(Annotations)</em></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Diety (subsistence allowance)</td>
            <td class="price">{{0 | number:2}} zł</td>
            <td class="price">{{root.delegationCost | number:2}} {{root.country.currency}}</td>
            <td class="price">{{root.exchangeRate.averageRate | number:4}}</td>
            <td class="price">{{root.delegationCost * root.exchangeRate.averageRate | number:2}} zł</td>
            <td></td>
          </tr>

          <tr ng-repeat="exp in root.expenses">
            <td>{{exp.name}}</td>
            <td class="price">{{(exp.currency == 'PLN' ? exp.price : 0) | number:2}} zł</td>
            <td class="price">{{(exp.currency != 'PLN' ? exp.price : 0) | number:2}} {{(exp.currency == 'PLN' ? root.country.currency : exp.currency)}}</td>
            <td class="price">{{exp.rate | number:4}}</td>
            <td class="price">{{exp.plnValue | number:2}} zł</td>
            <td><em>{{exp.desc}}</em></td>
          </tr>

          <tr class="summary ">
            <td>RAZEM wydatki <em class="eng">(all expenses)</em></td>
            <td class="price"></td>
            <td class="price"></td>
            <td class="price"></td>
            <td class="price">{{sumExpenses() | number:2}} zł</td>
            <td></td>
          </tr>
          <tr>
            <td>Pobrane zaliczki</td>
            <td class="price">0 zł</td>
            <td class="price">0 {{root.country.currency}}</td>
            <td class="price">{{root.exchangeRate.averageRate | number:4}}</td>
            <td class="price">0 zł</td>
            <td></td>
          </tr>
          <tr class="summary">
            <td>Do wypłaty (+) / Do zwrotu (-)</td>
            <td></td>
            <td></td>
            <td></td>
            <td class="price">{{sumExpenses() | number:2}} zł</td>
            <td></td>
          </tr>
        </tbody>
      </table>

      <div class="row">
        <div class="col-xs-8 col-xs-offset-4">
          {{root.exchangeRate.multiplier}} {{root.country.currency}} = <b>{{root.exchangeRate.averageRate | number:4}}</b> PLN
          - <em class="eng">(average exchange rate as for)</em> kurs średni NBP z dn. <b>{{root.exchangeRate.submitDate}}</b>
        </div>
      </div>

      <div class="some-statement">
        <div ng-show="breakfastDays.length > 0">
          Oświadczam, że miał(em/am) zapewnione śniadanie w hotelu w nast. dni:
          <span ng-repeat="day in breakfastDays">{{day | date:'EEEE'}}, </span>
        </div>
        <div ng-show="dinnerDays.length > 0">
          Oświadczam, że miał(em/am) zapewniony obiad w nast. dni:
          <span ng-repeat="day in dinnerDays">{{day | date:'EEEE'}}, </span>
        </div>
        <div ng-show="supperDays.length > 0">
          Oświadczam, że miał(em/am) zapewnioną kolację w nast. dni:
          <span ng-repeat="day in supperDays">{{day | date:'EEEE'}}, </span>
        </div>
      </div>

      <div class="some-statement">
        <div class="row">
          <div class="col-xs-4 col-xs-offset-2">
            <div><b>{{root.submitDate | date:'yyyy-MM-dd'}}</b></div>
            <div>Data rozliczenia <br/><em class="eng">(Submit date)</em></div>
          </div>
          <div class="col-xs-3">
            <div>....................................</div>
            <div>Podpis delegowanego <br/><em class="eng">(Employee's signature)</em></div>
          </div>
          <div class="col-xs-3">
            <div>....................................</div>
            <div>Podpis przełożonego <br/><em class="eng">(Manager's signature)</em></div>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/sugar/release/sugar.min.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-i18n/angular-locale_pl.js"></script>
    <script type="text/javascript" src="/js/printCtrl.js"></script>
  </body>
</html>