<!DOCTYPE html>
<html ng-app="delegations">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css' />
    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap-theme.css' />
    <link rel='stylesheet' href='/css/print.css' />
  </head>
  <body ng-controller="printCtrl">
    <div class="container theme-showcase container-a4">
      <h1 class="title">Rozliczenie delegacji zagranicznej NR {{root.delegationNo}}</h1>

      <dl class="dl-horizontal basic-stuff">
        <dt>Delegowany</dt>
        <dd>{{root.fullName}}</dd>
        <dt>do</dt>
        <dd>{{root.country.namePL}}, {{root.destCity}}</dd>
        <dt>na czas od</dt>
        <dd>
          <span class="bordered">{{root.dateFrom}}</span>
          do
          <span class="bordered">{{root.dateTo}}</span>
        </dd>
        <dt>w celu:</dt>
        <dd>{{root.delegationTitle}}</dd>
      </dl>

      <h3>Rachunek kosztów podróży</h3>
      <table class="table table-condensed">
        <thead>
          <tr>
            <th colspan="3">WYJAZD</th>
            <th colspan="3">PRZYJAZD</th>
            <th rowspan="2">Środek lokomocji</th>
          </tr>
          <tr>
            <th>Miejscowość</th>
            <th>Data</th>
            <th>Godzina</th>
            <th>Miejscowość</th>
            <th>Data</th>
            <th>Godzina</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{root.startCity}}</td>
            <td>{{root.dateFrom}}</td>
            <td>{{root.dateTimeFrom}}</td>
            <td>{{root.destCity}}</td>
            <td>??</td>
            <td>??</td>
            <td>{{root.transportName.namePL}}</td>
          </tr>
          <tr>
            <td>{{root.destCity}}</td>
            <td>??</td>
            <td>??</td>
            <td>{{root.startCity}}</td>
            <td>{{root.dateTo}}</td>
            <td>{{root.dateTimeTo}}</td>
            <td>{{root.transportName.namePL}}</td>
          </tr>
        </tbody>
      </table>

      <div class="delegation-time">
        Czas trwania:
        <span>Pełnych dni: później</span>
        <span>Godzin: później</span>
        <span>Minut: później</span>
      </div>

      <table class="table table-condensed">
        <thead>
          <tr>
            <th></th>
            <th>PLN</th>
            <th>{{root.country.currency}}</th>
            <th>kurs rozliczenia</th>
            <th>Razem PLN</th>
            <th>Adnotacje</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1) Koszty przejazdu</td>
            <td></td>
            <td></td>
            <td>{{root.exchangeRate.averageRate | number:4}}</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>2) Noclegi</td>
            <td></td>
            <td></td>
            <td>{{root.exchangeRate.averageRate | number:4}}</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>3) Noclegi - ryczałt</td>
            <td></td>
            <td></td>
            <td>{{root.exchangeRate.averageRate | number:4}}</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>4) Diety</td>
            <td>0 zł</td>
            <td>{{root.delegationCost | number:2}}</td>
            <td>{{root.exchangeRate.averageRate | number:4}}</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>5) Dojazd z/do dworca</td>
            <td></td>
            <td></td>
            <td>{{root.exchangeRate.averageRate | number:4}}</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>6) Komunikacja miejska</td>
            <td></td>
            <td></td>
            <td>{{root.exchangeRate.averageRate | number:4}}</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>7) Inne</td>
            <td></td>
            <td></td>
            <td>{{root.exchangeRate.averageRate | number:4}}</td>
            <td></td>
            <td></td>
          </tr>
          <tr class="summary ">
            <td>RAZEM wydatki</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Pobrane zaliczki</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr class="summary">
            <td>Do wypłaty (+) / Do zwrotu (-)</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="2" style="text-align: right;">{{root.exchangeRate.multiplier}} {{root.country.currency}} =</td>
            <td>{{root.exchangeRate.averageRate | number:4}} PLN</td>
            <td colspan="3">- kurs średni NBP z dn. {{root.exchangeRate.submitDate}}</td>
          </tr>
        </tfoot>
      </table>

      <div class="some-statement">

      </div>
    </div>

    <script type="text/javascript" src="/bower_components/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/sugar/release/sugar.min.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/bower_components/globalize/lib/globalize.js"></script>
    <script type="text/javascript" src="/bower_components/globalize/lib/cultures/globalize.culture.pl.js"></script>
    <script type="text/javascript" src="/js/printCtrl.js"></script>
  </body>
</html>