<!DOCTYPE html>
<html ng-app="delegations">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css' />
    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap-theme.css' />
    <link rel='stylesheet' href='/css/print.css' />
  </head>
  <body ng-controller="printCtrl">
    <div class="container theme-showcase container-a4">
      <h1 class="title">Rozliczenie delegacji zagranicznej NR {{root.delegationNo}}</h1>

      <dl class="dl-horizontal basic-stuff">
        <dt>Delegowany</dt>
        <dd>{{root.fullName}}</dd>
        <dt>do</dt>
        <dd>{{root.country.namePL}}, {{root.destCity}}</dd>
        <dt>na czas od</dt>
        <dd>
          <span class="bordered">{{root.departure.date | date:'yyyy-MM-dd'}}</span>
          do
          <span class="bordered">{{root.arrival.date | date:'yyyy-MM-dd'}}</span>
        </dd>
        <dt>w celu:</dt>
        <dd>{{root.delegationTitle}}</dd>
      </dl>

      <h3>Rachunek kosztów podróży</h3>
      <table class="table table-condensed table-bordered">
        <thead>
          <tr>
            <th colspan="3">WYJAZD</th>
            <th colspan="3">PRZYJAZD</th>
            <th rowspan="2" width="120px" style="text-align: center;">Środek lokomocji</th>
          </tr>
          <tr>
            <th>Miejscowość</th>
            <th>Data</th>
            <th>Godzina</th>
            <th>Miejscowość</th>
            <th>Data</th>
            <th>Godzina</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{root.startCity}}</td>
            <td>{{root.departure.date | date:'yyyy-MM-dd'}}</td>
            <td>{{root.departure.time}}</td>
            <td>{{root.destCity}}</td>
            <td>{{root.departureEnd | date:'yyyy-MM-dd'}}</td>
            <td>{{root.departureEnd | date:'HH:mm'}}</td>
            <td>{{root.departure.transport.namePL}}</td>
          </tr>
          <tr>
            <td>{{root.destCity}}</td>
            <td>{{root.arrivalStart | date:'yyyy-MM-dd'}}</td>
            <td>{{root.arrivalStart | date:'HH:mm'}}</td>
            <td>{{root.startCity}}</td>
            <td>{{root.arrival.date | date:'yyyy-MM-dd'}}</td>
            <td>{{root.arrival.time}}</td>
            <td>{{root.arrival.transport.namePL}}</td>
          </tr>
        </tbody>
      </table>

      <div class="delegation-time">
        Czas trwania:
        <span>Pełnych dni: {{root.days.fullDays}}</span>
        <span>Godzin: {{root.days.hours | number:0}}</span>
        <span>Minut: {{root.days.minutes | number:0}}</span>
      </div>

      <table class="table table-condensed table-bordered">
        <thead>
          <tr>
            <th></th>
            <th>PLN</th>
            <th>{{root.country.currency}}</th>
            <th>kurs rozliczenia</th>
            <th>Razem PLN</th>
            <th>Adnotacje</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Diety (food)</td>
            <td>{{0 | number:2}} zł</td>
            <td>{{root.delegationCost | number:2}} {{root.country.currency}}</td>
            <td>{{root.exchangeRate.averageRate | number:4}}</td>
            <td>{{root.delegationCost * root.exchangeRate.averageRate | number:2}} zł</td>
            <td></td>
          </tr>

          <tr ng-repeat="exp in root.expenses">
            <td>{{exp.name}}</td>
            <td>{{(exp.currency == 'PLN' ? exp.price : 0) | number:2}} zł</td>
            <td>{{(exp.currency != 'PLN' ? exp.price : 0) | number:2}} {{(exp.currency == 'PLN' ? root.country.currency : exp.currency)}}</td>
            <td>{{exp.rate | number:4}}</td>
            <td>{{exp.plnValue | number:2}} zł</td>
            <td><em>{{exp.desc}}</em></td>
          </tr>

          <tr class="summary ">
            <td>RAZEM wydatki (all expenses)</td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{sumExpenses() | number:2}} zł</td>
            <td></td>
          </tr>
          <tr>
            <td>Pobrane zaliczki</td>
            <td>0 zł</td>
            <td>0 {{root.country.currency}}</td>
            <td>{{root.exchangeRate.averageRate | number:4}}</td>
            <td>0 zł</td>
            <td></td>
          </tr>
          <tr class="summary">
            <td>Do wypłaty (+) / Do zwrotu (-)</td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{sumExpenses() | number:2}} zł</td>
            <td></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="2" style="text-align: right;">{{root.exchangeRate.multiplier}} {{root.country.currency}} =</td>
            <td>{{root.exchangeRate.averageRate | number:4}} PLN</td>
            <td colspan="3">- kurs średni NBP z dn. {{root.exchangeRate.submitDate}}</td>
          </tr>
        </tfoot>
      </table>

      <div class="some-statement">
        <div class="row">
          <div class="col-sm-4 col-sm-offset-2">
            <div><b>{{root.submitDate | date:'yyyy-MM-dd'}}</b></div>
            <div>Data rozliczenia</div>
          </div>
          <div class="col-sm-6">
            <div>....................................</div>
            <div>Podpis delegowanego</div>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="/bower_components/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/sugar/release/sugar.min.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-i18n/angular-locale_pl.js"></script>
    <script type="text/javascript" src="/js/printCtrl.js"></script>
  </body>
</html>