<!DOCTYPE html>
<html ng-app="delegations">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css' />
    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap-theme.css' />
    <link rel='stylesheet' href='/css/print.css' />
  </head>
  <body ng-controller="mainCtrl">
    <div class="container theme-showcase">
      Empty for now
    </div>

    <div id="footer">
      <div class="container">
        <p class="centered">
          Created by <b>PureDev, Piotr Dąbrowski</b>
        </p>
      </div>
    </div>

    <script type="text/javascript" src="/bower_components/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/sugar/release/sugar.min.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/bower_components/globalize/lib/globalize.js"></script>
    <script type="text/javascript" src="/bower_components/globalize/lib/cultures/globalize.culture.pl.js"></script>
    <script type="text/javascript" src="/js/mainCtrl.js"></script>
  </body>
</html>