body {
  padding-top: 100px;
}

[ng-cloak], .ng-cloak { display: none; }

#footer {
  margin-top: 120px;
  padding: 24px;
  border-top: 1px solid #efefef;
}

.navbar.navbar-patterned {
  height: 80px;
  background: url(../img/dark_exa.png) repeat;
  box-shadow: 0 0 8px rgba(0,0,0,.4);
}

.navbar-patterned .navbar-brand {
  padding: 28px 15px 52px;
  font-size: 22px;
  line-height: 24px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.navbar-patterned .navbar-brand:hover {
  color: #fff;
  background: #ff670f;
}

.nav .diem { padding: 12px; }
.nav .diem .title { text-align: center; color: #999; }

.nav .diem .price {
  color: #ff670f;
}
.nav .diem strong {
  font-size: 32px;
  line-height: 24px;
}

input.ng-invalid.ng-dirty {
  border-color: #e9322d;
}

.ng-invalid:focus {
  border-color: #e9322d;
  -webkit-box-shadow: 0 0 6px #f8b9b7;
  -moz-box-shadow: 0 0 6px #f8b9b7;
  box-shadow: 0 0 6px #f8b9b7;
}

.delegation-controls {
  margin-top: 24px;
}

.delegation-dates .date-form {
  margin-bottom: 24px;
}

.container fieldset {
  margin-top: 40px;
}

.steps {
  padding: 20px 48px 0 0;
}

.steps i { padding: 0 4px; }

.expenses-group .expense {
  padding: 12px 4px;
  margin: 6px 0;
  border-bottom: 1px solid #efefef;
}

.expenses-group .expense:hover {
  background: #f9f9f9;
  border-bottom: 1px solid #dedede;
}

.expenses-group .expense .row {
  padding-right: 56px;
}

.expenses-group .expense .exchange-na {
  padding: 6px;
  text-align: center;
}

.expenses-group .expense .btn-danger {
  display: none;
}
.expenses-group .expense:hover .btn-danger { display: block; }

.form-control.readonly {
  background: #f1f1f1;
  color: #aaa;
}

label.block {
  display: block;
  width: 100%;
}

.popover-inner .popover-content {
  font-size: 13px;
  font-weight: normal;
}

.form-group .form-control-value {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555;
  vertical-align: middle;
}

.spinner { color: #18618C; }



/*!
 * Datepicker for Bootstrap
 *
 * Copyright 2012 Stefan Petre
 * Improvements by Andrew Rowls
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 */
.datepicker {
  direction: ltr;
}
.datepicker-inline {
  width: 220px;
}
.datepicker.datepicker-rtl {
  direction: rtl;
}
.datepicker.datepicker-rtl table tr td span {
  float: right;
}
.datepicker-dropdown {
  top: 0;
  left: 0;
  border-radius: 0;
  padding: 5px 0 0;
  background: #444;
  border: 0 none;
  min-width: 200px;
}
.datepicker-dropdown:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -7px;
  left: 6px;
}
.datepicker-dropdown:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #444;
  position: absolute;
  top: -6px;
  left: 7px;
}
.datepicker > div {
  display: none;
}
.datepicker.days div.datepicker-days {
  display: block;
}
.datepicker.months div.datepicker-months {
  display: block;
}
.datepicker.years div.datepicker-years {
  display: block;
}
.datepicker table {
  margin: 0;
  border-collapse: separate;
  /* for border radius in tables */
  border-spacing: 0;
}
.datepicker td,
.datepicker th {
  text-align: center;
  width: 20px;
  border: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
.datepicker td:first-child,
.datepicker th:first-child {
  border-left: 1px solid #ccc;
}
.datepicker td:last-child,
.datepicker th:last-child {
  border-right: 1px solid #ccc;
}
.datepicker tbody td {
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-image: -webkit-linear-gradient(top, #ededed 0%, #dedede 100%);
  background-image: -o-linear-gradient(top, #ededed 0%, #dedede 100%);
  background-image: linear-gradient(to bottom, #ededed 0%, #dedede 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffededed', endColorstr='#ffdedede', GradientType=0);
  border-color: #dedede #dedede #b8b8b8 #dedede;
  color: #6c6c6c;
  font-family: 'Droid Sans', 'Segoe UI', 'Candara', 'Consolas', sans-serif;
  font-weight: bold;
  font-size: 13px;
}
.datepicker tbody tr:last-child td {
  border-bottom: 1px solid #ccc;
}
.datepicker thead .controls th {
  border: 0 none;
  border-top: 1px solid #373737;
  background-image: -webkit-linear-gradient(top, #3c3c3c 0%, #393939 100%);
  background-image: -o-linear-gradient(top, #3c3c3c 0%, #393939 100%);
  background-image: linear-gradient(to bottom, #3c3c3c 0%, #393939 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff393939', GradientType=0);
  color: #e0e0e0;
  cursor: pointer;
  text-shadow: 0 1px 1px #000;
}
.datepicker thead .controls th:hover {
  color: #f9f9f9;
  background-image: -webkit-linear-gradient(top, #494949 0%, #535353 100%);
  background-image: -o-linear-gradient(top, #494949 0%, #535353 100%);
  background-image: linear-gradient(to bottom, #494949 0%, #535353 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff494949', endColorstr='#ff535353', GradientType=0);
}
.datepicker th {
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  border-bottom: 1px solid #aaa;
}
.datepicker tr.week-days th {
  font-weight: normal;
  font-size: 10px;
  text-transform: uppercase;
  background-image: -webkit-linear-gradient(top, #f7f7f7 0%, #f1f1f1 100%);
  background-image: -o-linear-gradient(top, #f7f7f7 0%, #f1f1f1 100%);
  background-image: linear-gradient(to bottom, #f7f7f7 0%, #f1f1f1 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff7f7f7', endColorstr='#fff1f1f1', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  line-height: 12px;
}
.table-striped .datepicker table tr td,
.table-striped .datepicker table tr th {
  background-color: transparent;
}
.datepicker table tr td {
  height: 20px;
}
.datepicker table tr td.day:hover {
  cursor: pointer;
  background-image: -webkit-linear-gradient(top, #dedede 0%, #dedede 100%);
  background-image: -o-linear-gradient(top, #dedede 0%, #dedede 100%);
  background-image: linear-gradient(to bottom, #dedede 0%, #dedede 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdedede', endColorstr='#ffdedede', GradientType=0);
}
.datepicker table tr td.old,
.datepicker table tr td.new {
  color: #999;
  background-image: -webkit-linear-gradient(top, #f4f4f4 0%, #ececec 100%);
  background-image: -o-linear-gradient(top, #f4f4f4 0%, #ececec 100%);
  background-image: linear-gradient(to bottom, #f4f4f4 0%, #ececec 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff4f4f4', endColorstr='#ffececec', GradientType=0);
}
.datepicker table tr td.disabled,
.datepicker table tr td.disabled:hover {
  background: #ededed;
  color: #999;
  cursor: default;
}
.datepicker table tr td.today,
.datepicker table tr td.active {
  -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.25);
  color: #e0e0e0;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
.datepicker table tr td.today,
.datepicker table tr td.today:hover,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover {
  background-image: -webkit-linear-gradient(top, #ff8d44 0%, #ffac44 100%);
  background-image: -o-linear-gradient(top, #ff8d44 0%, #ffac44 100%);
  background-image: linear-gradient(to bottom, #ff8d44 0%, #ffac44 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff8d44', endColorstr='#ffffac44', GradientType=0);
}
.datepicker table tr td.active,
.datepicker table tr td.active:hover,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover {
  background-image: -webkit-linear-gradient(top, #2fa4e7 0%, #2f85e7 100%);
  background-image: -o-linear-gradient(top, #2fa4e7 0%, #2f85e7 100%);
  background-image: linear-gradient(to bottom, #2fa4e7 0%, #2f85e7 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2fa4e7', endColorstr='#ff2f85e7', GradientType=0);
}
.datepicker table tr td span {
  display: block;
  width: 23%;
  height: 54px;
  line-height: 54px;
  float: left;
  margin: 1%;
  cursor: pointer;
}
.datepicker table tr td span:hover {
  background: #f5f5f5;
}
.datepicker table tr td span.disabled,
.datepicker table tr td span.disabled:hover {
  background: none;
  color: #999999;
  cursor: default;
}
.datepicker table tr td span.active,
.datepicker table tr td span.active:hover,
.datepicker table tr td span.active.disabled,
.datepicker table tr td span.active.disabled:hover {
  background-image: -webkit-linear-gradient(top, #2fa4e7 0%, #2f85e7 100%);
  background-image: -o-linear-gradient(top, #2fa4e7 0%, #2f85e7 100%);
  background-image: linear-gradient(to bottom, #2fa4e7 0%, #2f85e7 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2fa4e7', endColorstr='#ff2f85e7', GradientType=0);
  -webkit-box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.25);
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
.datepicker table tr td span.old {
  color: #999999;
}
.datepicker th.switch {
  width: 145px;
}
.datepicker .cw {
  font-size: 10px;
  width: 12px;
  padding: 0 2px 0 5px;
  vertical-align: middle;
}
.datepicker thead tr:first-child th.cw {
  cursor: default;
  background-color: transparent;
}