body {
  padding-top: 100px;
}

#footer {
  margin-top: 120px;
  padding: 24px;
  border-top: 1px solid #efefef;
}

.navbar.navbar-patterned {
  height: 80px;
  background: url(../img/dark_exa.png) repeat;
  box-shadow: 0 0 8px rgba(0,0,0,.4);
}

.navbar-patterned .navbar-brand {
  padding: 28px 15px;
  font-size: 22px;
  line-height: 24px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.navbar-patterned .navbar-brand:hover {
  color: #fff;
  background: #ff670f;
}

.nav .diem { padding: 12px; }
.nav .diem .title { text-align: center; color: #999; }

.nav .diem .price {
  color: #ff670f;
}
.nav .diem strong {
  font-size: 32px;
  line-height: 24px;
}

input.ng-invalid.ng-dirty {
  border-color: #e9322d;
}

.ng-invalid:focus {
  border-color: #e9322d;
  -webkit-box-shadow: 0 0 6px #f8b9b7;
  -moz-box-shadow: 0 0 6px #f8b9b7;
  box-shadow: 0 0 6px #f8b9b7;
}

.delegation-controls {
  margin-top: 24px;
}

.delegation-dates .date-form {
  margin-bottom: 24px;
}

.container fieldset {
  margin-top: 40px;
}

.steps {
  padding: 20px 48px 0 0;
}

.steps i { padding: 0 4px; }
